* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

header {
    font-weight: 700;
    border-bottom: 1px solid #E8E8E8;
    padding: 10px;
    margin: 20px 100px;
    text-align: center;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(4,  1fr);
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: auto;
    padding: 0 30px;
    width: 100%;
    max-width: 1440px;
}

.tile {
    border-radius: 270px;
    overflow: hidden;
    position: relative;
    /* width: 323px; */
    aspect-ratio: 9/16;
}

.tile-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 1.05em;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
}

.tile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1025px) {
    .tiles{
        grid-template-columns: repeat(2,1fr);
    }
    .tile {
        aspect-ratio: 16/9;
    }
}

@media (max-width: 600px) {
    .tiles{
        grid-template-columns: repeat(1,1fr);
    }
    .tile-text {
        width: 50%;
        font-size: 0.9em;
    }
}